#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container {
    text-align: center;
}

/*Start your code from here */
#myCarousel {
    background-color: gold;
}

#mycarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: cornflowerblue;
    font-size: 20px;
}

#myCarouse2 {
    background-color: gold;
}

#mycarouse2 img {
    height: 300px;
    margin-top: 35px;
}

.carouse2-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: cornflowerblue;
    font-size: 20px;
}
